.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  text-align: center;
  justify-content: flex-end;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-fix {
  justify-content: flex-start;
  height: auto;
  width: auto;
}

.modal-img-fix{
  height: 200px;
  width: auto;
}

.product {
  background: none;
  text-align: center;
}

.poprawka-karuzeli {
  margin-left: auto;
  margin-right: auto;

}

.opis {
  margin-top: 50px;
  margin-left: 10px;
  color: lightgray;
  white-space: pre-line;
}

.odstep{
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}